<% provide(:title, "Big Bag" ) %>
<div class="main-wrapper">
  <%= render 'partial/banner'%>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row featuredCollection">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>人気カテゴリー</h4>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="thumbnail">
            <div class="imageWrapper">
              <%= link_to image_tag("home/featured-collection/featured-collection-01.jpg", class:"image",
                :alt => "feature-collection-image"), potepan_product_path(1)  %>
              <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Shirts</a></div>
            </div>
            <div class="caption"> 
              <h4><%= link_to "Shirts", potepan_product_path(1) %></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="thumbnail">
            <div class="imageWrapper">
              <%= link_to image_tag("home/featured-collection/featured-collection-02.jpg", class:"image", 
                :alt => "feature-collection-image"), potepan_product_path(2) %>
              <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Bags</a></div>
            </div>
            <div class="caption">
              <h4><%= link_to "Bags", potepan_product_path(2) %></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="thumbnail" onclick="location.href='products.html';">
            <div class="imageWrapper"> 
              <%= link_to image_tag("home/featured-collection/featured-collection-03.jpg", class:"image", 
                :alt => "feature-collection-image"), potepan_product_path(3) %>
              <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Denim</a></div>
            </div>
            <div class="caption">
              <h4><%= link_to "Denim", potepan_product_path(3) %></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row featuredProducts">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>新着商品</h4>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="owl-carousel featuredProductsSlider">
            <div class="slide">
              <div class="productImage clearfix">
                <%= image_tag("home/featured-product/product-01.jpg", :alt => "featured-product-img") %>
              </div>
              <div class="productCaption clearfix">
                <a href="single_product.html">
                  <h5><%= link_to "RUBY ON RAILS TOTE", potepan_product_path(1) %></h5>
                </a>
                <h3>$15.99</h3>
              </div>
            </div>
            <div class="slide">
              <div class="productImage">
                <%= image_tag("home/featured-product/product-02.jpg", :alt => "featured-product-img") %>
              </div>
              <div class="productCaption">
                <a href="single_product.html">
                  <h5><%= link_to "RUBY ON RAILS BAG", potepan_product_path(2) %></h5>
                </a>
                <h3>$14.0</h3>
              </div>
            </div>
            <div class="slide">
              <div class="productImage">
                <%= image_tag("home/featured-product/product-03.jpg", :alt => "featured-product-img") %>
              </div>
              <div class="productCaption">
                <a href="single_product.html">
                  <h5><%= link_to "RUBY ON RAILS BASUBALL JERSEY", potepan_product_path(3) %></h5>
                </a>
                <h3>$22.99</h3>
              </div>
            </div>
            <div class="slide">
              <div class="productImage">
                <%= image_tag("home/featured-product/product-04.jpg", :alt => "featured-product-img") %>
              </div>
              <div class="productCaption">
                <a href="single_product.html">
                  <h5><%= link_to "RUBY ON RAILS JR.SPAGHETTI", potepan_product_path(4) %></h5>
                </a>
                <h3>$19.0</h3>
              </div>
            </div>
            <div class="slide">
              <div class="productImage">
                <%= image_tag("home/featured-product/product-05.jpg", :alt => "featured-product-img") %>
              </div>
              <div class="productCaption">
                <a href="single_product.html">
                  <h5><%= link_to "RUBY ON RAILS RINGER T-SHIRT", potepan_product_path(5) %></h5>
                </a>
                <h3>$19.99</h3>
              </div>
            </div>
            <div class="slide">
              <div class="productImage">
                <%= image_tag("home/featured-product/product-06.jpg", :alt => "featured-product-img") %>
              </div>
              <div class="productCaption">
                <a href="single_product.html">
                  <h5><%= link_to "RUBY BASEBALL JERSEY", potepan_product_path(6) %></h5>
                </a>
                <h3>$16.0</h3>
              </div>
            </div>
            <div class="slide">
              <div class="productImage">
                <%= image_tag("home/featured-product/product-07.jpg", :alt => "featured-product-img") %>
              </div>
              <div class="productCaption">
                <a href="single_product.html">
                  <h5><%= link_to "APACHE BASEBALL JERSEY", potepan_product_path(7) %></h5>
                </a>
                <h3>$19.99</h3>
              </div>
            </div>
            <div class="slide">
              <div class="productImage">
                <%= image_tag("home/featured-product/product-09.jpg", :alt => "featured-product-img") %>
              </div>
              <div class="productCaption">
                <a href="single_product.html">
                  <h5><%= link_to "RUBY ON RAILS STEIN", potepan_product_path(9) %></h5>
                </a>
                <h3>$19.99</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'partial/banner' %>     
</div>
<%= render 'partial/login_modal' %>
<%= render 'partial/product_quick_view'%>