<div class="main-wrapper">
  <%= render 'light_section', taxon: @taxon %>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <%= render 'product', products: @products %>
    </div>
  </section>
  <%= render 'under_light_section' %>
</div>
<%= render 'shared/login' %>
<%= render 'shared/signup' %>
